@(courseId: Long , announcements: List[Announcement] , announcementForm: Form[Announcement])
@import helper._

<table>
<th>Announcement name</th>
<th>Description</th>
<th>Date</th>
<th></th>
@if(announcements!=null){
@for(announcement<-announcements){
<tr>
@form(routes.Announcements.deleteAnnouncement(announcement.id)){
<td><a href="@routes.Announcements.announcementPage(announcement.id)">@announcement.title</a></td>
<td>@announcement.content</td>
<td>@announcement.createdDate</td>
<td><button type="submit">Delete</button></td>
}
</tr>
}
}
</table>

<h2>Add a new announcement</h2>
@form(routes.Announcements.newAnnouncement()){
<p>
<input type="text" name="title" placeholder="Name">
</p>
<p>
<textarea rows="10" cols="30" name="content" placeholder="Description"></textarea>
</p>
<p>
<button type="submit">Create</button>
</p>
}