@(courseId: Long , courseInformations: List[CourseInformation] , courseInformationForm: Form[CourseInformation],user:User)
@import helper._
@main(user){
<table class="table table-bordered">
<th>CourseInformation name</th>
<th>Description</th>
<th></th>
@if(courseInformations!=null){
@for(courseInformation<-courseInformations){
<tr>
@form(routes.CourseInformations.deleteCourseInformation(courseInformation.id)){
<td><a href="@routes.CourseInformations.courseInformationPage(courseInformation.id)">@courseInformation.title</a></td>
<td>
<div class="description">
@if(courseInformation.content!=null){
@Html(courseInformation.content)
}
</div>
</td>
<td><button type="submit">Delete</button></td>
}
</tr>
}
}
</table>

<h2>Add a new courseInformation</h2>
@form(routes.CourseInformations.newCourseInformation()){
<p>
<input type="text" name="title" placeholder="Name">
</p>
<p>
<textarea class="descriptionTextArea ckeditor" rows="30" cols="60" name="content" placeholder="Description"></textarea>
</p>
<p>
<button type="submit">Create</button>
</p>
}
}
