@(course:Course, active: String)

<div class="menuBar">
<ul class="nav nav-pills">
@if(active.equals("Home")){
  <li class="active">
}else{
<li>
}
    <a href="@routes.Courses.coursePage(course.id)"><i class="icon-fixed-width icon-home"></i> Home</a>
  </li>
  @if(active.equals("Lectures")){
  <li class="active">
}else{
<li>
}
  <a href="@routes.Lectures.lecturePage(course.id)"><i class="icon-fixed-width icon-book"></i> Lectures</a></li> 
@if(active.equals("Assignments")){
  <li class="active">
}else{
<li>
}  
<a href="@routes.Assignments.assignmentPage(course.id)"><i class="icon-fixed-width icon-pencil"></i> Assignments</a></li> 
  
  @if(active.equals("Community")){
  <li class="active dropdown">
}else{
<li class="dropdown">
}
<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
    Community
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li role="presentation"><a role="menuitem" href="@routes.Forums.index()">Forum</a></li>
 	 <li role="presentation"><a role="menuitem" href="@routes.Students.getStudents(course.id)">Students</a></li>
  </ul>
	</li>
</ul>
</div>