@(courseInformation: CourseInformation)

@import helper._

<input type="hidden" id="ciUpdateTitleUrl" value="@routes.CourseInformations.updateTitle()">

<div class="announcements">
<fieldset>
    <legend>Edit course information</legend>

  <div class="row" style="margin-left: 20px;">
<h4><span class="item courseInformationTitle" id="courseInformationTitle@courseInformation.id">@courseInformation.title</span></h4>
@helper.form(action=routes.CourseInformations.deleteCourseInformation(courseInformation.id),'class->"res action") {
<button class="btn btn-mini btn-primary"  type="submit"><i class="icon-remove"></i></button>
}
<br/>
<br/>
<div class="alert alert-success">
successfully saved
</div>

<div class="nicPanels" id="courseInformationNicPanel@courseInformation.id" style="width: 525px;"></div>
<br/>
<div id="courseInformationContent@courseInformation.id">

@if(courseInformation.content!=null){
@Html(courseInformation.content)
}
</div>
</div>
</fieldset>
</div>

<script type="text/javascript">

$(document).ready(function(){

	$('.alert-success').hide();
	$('.nicPanels').hide();
	
	
	var ciUpdateTitleUrl=$('#ciUpdateTitleUrl').val();
	$('.courseInformationTitle').editable(function(value, settings) {
		 $('.alert-success').hide();
		 var courseInformationTitleid=$(this).attr('id');
		 var toRemove = 'courseInformationTitle';
		 var id = courseInformationTitleid.replace(toRemove,'');
		var result=value;
		myJsRoutes.controllers.CourseInformations.updateTitle().ajax({
			data: {id:id,value:value},
		    success : function(data) {
			$('#courseInformation'+id).html(data);
			result=data;
			$('.alert-success').show();
		    }
		});
		return(result);
	});
	
    	 var courseInformationNicEditor = new nicEditor({
    		 fullPanel : true,
    		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")',	
    		onSave : function(content, id, instance) {
    		 $('.alert-success').hide();
       	  myJsRoutes.controllers.CourseInformations.updateContent(''+@courseInformation.id).ajax({
       		data: {value:content},
     		    success : function(data) {
     		    $('#courseInformationContent'+@courseInformation.id).html('');
     			$('#courseInformationContent'+@courseInformation.id).html(data);
     			$('.alert-success').show();
     		    }
     		});
         } });
         courseInformationNicEditor.setPanel('courseInformationNicPanel'+@courseInformation.id);
         courseInformationNicEditor.addInstance('courseInformationContent'+@courseInformation.id);
    
         
         $('#courseInformationContent'+@courseInformation.id).click(function() {
			  $('#courseInformationNicPanel'+@courseInformation.id).show();
			});
   	  
     });

  </script> 