@(course:Course,courseDescriptions:List[CourseDescription],enrollment:String,user:User)

@import helper._
@main(user){
	<h2>@course.name</h2>
	<h3>Instructor:</h3>
	<p>
	@course.owner.name
@if(course.owner.position!=null && course.owner.position.length()>0){
,@course.owner.position
}
@if(course.owner.company!=null && course.owner.company.length()>0){
,@course.owner.company
}
	</p>
	
<p>
@if(course.description!=null){
@Html(course.description)
}
</p>
	@if(enrollment.equals("ENROLLED")){
		@form(routes.Courses.coursePage(course.id)) {
		<button class="btn btn-primary btn-medium" type="submit">Go to class</button>
		}
	}else{
	@if(enrollment.equals("OWNER")){
		@form(routes.Courses.coursePage(course.id)) {
		<button class="btn btn-primary btn-medium" type="submit">Edit course</button>
		}
	}else{
		@form(routes.Courses.join(course.id)){
		<button class="btn btn-primary btn-medium" type="submit">Sign up</button>
		}
	}
}

<input type="hidden" id="courseDescriptionTitleUrl" value="@routes.CourseDescriptions.updateTitle()">
@for(courseDescription <- courseDescriptions){
<div id="courseDescription@courseDescription.id" >
<script type="text/javascript">

bkLib.onDomLoaded(function() {
		 var courseDescriptionNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
			 $('#alert-success'+@courseDescription.id).hide();
	    	  
			 myJsRoutes.controllers.CourseDescriptions.updateContent(''+@courseDescription.id).ajax({
        		data: {value:content},
      		    success : function(data) {
      		    $('#cdContent'+@courseDescription.id).html('');
      			$('#cdContent'+@courseDescription.id).html(data);
      			$('#alert-success'+@courseDescription.id).show();
      		    }
      		});
          } });
    	  courseDescriptionNicEditor.setPanel('courseDescriptionNicPanel'+@courseDescription.id);
    	  courseDescriptionNicEditor.addInstance('cdContent'+@courseDescription.id);
         
     });

  </script> 
  <div class="row" style="margin-left: 20px;">
<h4><span class="courseDescriptionTitle item" id="@courseDescription.id">@courseDescription.title</span></h4>
@helper.form(action=routes.CourseDescriptions.deleteCourseDescription(courseDescription.id),'class->"res action") {
<button class="btn btn-mini btn-primary"  type="submit"><i class="icon-remove"></i></button>
}
<br/>
<br/>
<div id="alert-success@courseDescription.id" class="alert alert-success">
successfully saved
</div>
<div id="courseDescriptionNicPanel@courseDescription.id" style="width: 525px;"></div>

<div id="cdContent@courseDescription.id">
@if(courseDescription.content!=null){
@Html(courseDescription.content)
}
</div>
</div>
</div>
}
}

<script type="text/javascript">
$(document).ready(function(){
	$('.alert-success').hide();
	 
	
	var courseDescriptionTitleUrl=$('#courseDescriptionTitleUrl').val();
	$('.courseDescriptionTitle').editable(function(value, settings) {
			var id=$(this).attr('id');
			 $('#alert-success'+id).hide();
				
			var result=value;
			myJsRoutes.controllers.CourseDescriptions.updateTitle().ajax({
				data: {id:id,value:value},
			    success : function(data) {
				$('#'+id).html(data);
				result=data;
				$('#alert-success'+id).show();
			    }
			});
			return(result);
		});
	

});
</script>