@(user:User,course:Course,lectures: List[Lecture])

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li class="active"><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Assignments.assignmentPage(course.id)">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lecture<-lectures){
  <li><a id="@lecture.id" href="@routes.Lectures.getLecture(lecture.id)">@lecture.title</a></li>
  }
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
		
</div>

    </div>
  </div>
</div>


}
