@(user:User,course:Course,lectures: List[Lecture],lecture: Lecture,resources:List[LectureResource])

@import helper._

@severityColor(url: String) = @{
   if(url.contains("youtube")){
   if(url.contains("watch?v="))
    url.substring(url.indexOf("watch?v=")+8);
    else{
     if(url.contains("embed/"))
		   url.substring(url.indexOf("embed/")+6);
    }
    }
}

@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li class="active"><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Assignments.assignmentPage(course.id)">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lec<-lectures){
   @if(lec.id==lecture.id){
  <li class="active"><a id="@lec.id" href="@routes.Lectures.getLecture(lec.id)">@lec.title</a></li>
  }else{
  <li><a id="@lec.id" href="@routes.Lectures.getLecture(lec.id)">@lec.title</a></li>
  }
  }
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
		
<input type="hidden" id="flowPlayer" value="@routes.Assets.at("javascripts/flowplayer-5.4.0/flowplayer.swf")">

<h3>@lecture.title</h3>
@if(lecture.content!=null && lecture.content.length()>0 && org.jsoup.Jsoup.parse(lecture.content).text().length()>0){
<fieldset>
<legend>Description</legend>
@Html(lecture.content)
</fieldset>
}


@resources.groupBy(_.resourceType).map{
       			case (resourceT,resources) => {


@if(resourceT.name().equals("VIDEO")){
<fieldset>
 <legend>Videos</legend>

@for(resource <- resources){ 

@if(resource.file_url!=null){
<div class="videoDialog" id="videoDialog@resource.id" title="">
@videoItem(resource)
</div>
<div class="videoListItem row">
<div class="res" style="background-size: cover;background-position: center;width:100px;height:56px;background-image:url(https://img.youtube.com/vi/@severityColor(resource.file_url)/hqdefault.jpg)"></div>
<h4 class="res videoLink"><a class="videoClick" href="#" id="resourceTitle@resource.id">@resource.title</a></h4>
</div>
}
}

</fieldset>
}else{
@if(resourceT.name().equals("SLIDE")){
<fieldset>
 <legend>Slides</legend>
<div class='mask'>
<div class='slides'>
@for(resource <- resources){
@if(resource.file_url!=null){
<div class="slideItem">
<span class="res">
@if(resource.file_url.contains("http")){
<a class="title resourceTitleEdit" id="@resource.id" href ="@resource.file_url">
@resource.title
 </a>
}else{
<a class="title resourceTitleEdit" id="@resource.id" href ="@routes.Assets.at("uploadSlides/"+{resource.file_url})">
@resource.title
 </a>
}
</span>
</div>
}
}
</div>
</div>
</fieldset>
}
}
}
}

@if(lecture.keyConcepts!=null && lecture.keyConcepts.length()>0 && org.jsoup.Jsoup.parse(lecture.keyConcepts).text().length()>0){
<br/>
<fieldset>
<legend>Key concepts</legend>
@Html(lecture.keyConcepts)
</fieldset>
}

@if(lecture.reading!=null && lecture.reading.length()>0 && org.jsoup.Jsoup.parse(lecture.reading).text().length()>0){
<br/>
<fieldset>
<legend>Reading</legend>
@Html(lecture.reading)
</fieldset>
}
<br/>
<div>
@if(lecture.assignment!=null && lecture.assignment.length()>0 && org.jsoup.Jsoup.parse(lecture.assignment).text().length()>0){
<fieldset class="res nicField" style="width: 45%;">
<legend>Assignment</legend>
@Html(lecture.assignment)
</fieldset>
}
@if(lecture.additionalResources!=null && lecture.additionalResources.length()>0 && org.jsoup.Jsoup.parse(lecture.additionalResources).text().length()>0){
<fieldset class="res nicField" style="width: 45%;">
<legend>Additional Resources</legend>
@Html(lecture.additionalResources)
</fieldset>
}
</div>
</div>
    </div>
  </div>
</div>
}

<script type="text/javascript">
$(document).ready(function() {
	
	       var flowPlayer=$('#flowPlayer').val();
		   // install flowplayer to an element with CSS class "player"
		   $(".player").flowplayer({ swf: flowPlayer
		   });
		   
		   setInterval("getPercent()", 5000);
			
		   function getPercent()
		   {
		   	var theTime = $f(".player").getTime();
		   	var theD = $f(".player").getClip().fullDuration;
		   	var theD2 = $f(".player").getClip().duration;
		   	alert($f(".player") + " : " + theTime + " : " + theD + " : " + theD2)
		   }
		   
			 $( ".videoDialog" ).dialog({
			      autoOpen: false,
			      height: 600,
			      width: 800,
			      modal: true
			      
			    });
		  
		  $( ".videoClick" ).click(function() {
		   	  var resourceTitleid=$(this).attr('id');
					 var toRemove = 'resourceTitle';
					 var id = resourceTitleid.replace(toRemove,'');
		       $( "#videoDialog"+id ).dialog( "open" );
		     });
		   
		});
</script>