@(resource:LectureResource)

@severityColor(url: String) = @{
   if(url.contains("youtube")){
   if(url.contains("v="))
    url.substring(url.indexOf("v=")+2);
    else{
     if(url.contains("embed/"))
		   url.substring(url.indexOf("embed/")+6);
    }
    }
}

<fieldset>

<div class="videoItem">
<span class="res">
<p class="title" id="resourceTitle@resource.id">@resource.title</p>
</span>

@if(resource.file_url.contains("youtube.com")){
<iframe id="youtubePlayer@resource.id" class="videoFrameSize"
src="http://www.youtube.com/embed/@{severityColor(resource.file_url)}?enablejsapi=1">
</iframe>
}else{
<div class="player videoFrameSize" data-engine="flash" >
   <video preload="none">
        <source type="video/mp4" src="@routes.Assets.at("uploadVideos/"+{resource.file_url})"/>
         </video>
</div>
}
</div>
</fieldset>