@(user:User,course:Course,lectures: List[Lecture])

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li class="active"><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Application.index">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lecture<-lectures){
  <li>
  <span class="res">
  <a class="lectures " id="lecture@lecture.id" href="@routes.Lectures.getLecture(lecture.id)">@lecture.title</a>
</span>
  <span class="action">
<a href="@routes.Lectures.deleteLecture(lecture.id)" type="submit"><i class="icon-remove"></i></a>
</span>
  </li>
  }
  <li>
  @form(routes.Lectures.index()){
  <button type="submit" style="width: 40%;"><i class="icon-plus"></i></button>
  }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
		<h2>Add  new lecture</h2>
@form(routes.Lectures.newLecture()){
<p>
<input type="text" name="title" placeholder="Name">
</p>
<p>
<textarea class="descriptionTextArea ckeditor" rows="30" cols="60" name="content" placeholder="Description"></textarea>
</p>
<p>
<button type="submit">Create</button>
</p>
}
</div>

    </div>
  </div>
</div>


}

<script type="text/javascript">
$(document).ready(function(){
	$('.lectures').click(function(e) {
		var lectureid=$(this).attr('id');
		 var toRemove = 'lecture';
		 var id = lectureid.replace(toRemove,'');
		myJsRoutes.controllers.Lectures.getLecture(id).ajax({
		    success : function(data) {
			$('.contentBar').html(data);
		
		    }
		});
		return false;
	});
});
</script>
