@(lecture: Lecture,resources:List[LectureResource],user:User)

@import helper._

@main(user){
<h2>Edit lecture</h2>


<form id="addStudentForm" method="post" action="@routes.Lectures.updateLecture(lecture.id)" enctype="multipart/form-data"> 
<p>
<input type="text" name="title" placeholder="Name" value="@lecture.title">
</p>
<p>
<textarea rows="10" cols="30" name="content" placeholder="Description" >@lecture.content</textarea>
</p>
<p>
Video<input class="videos" type="file" id="1" name="video" placeholder="Video">
</p>
<a class="addVideo">Add another video</a>
<p>
<div id="videos">
@resources.groupBy(_.resourceType).map{
       			case (resourceT,resources) => {


@if(resourceT.name().equals("VIDEO")){
@for(resource <- resources){
@resource.title 

@if(resource.file_url!=null){

<div class="player" data-engine="flash">
   <video preload="none">
      <source type="video/mp4" src="@routes.Assets.at("uploadVideos/"+{resource.file_url})"/>
         </video>
</div>
}
}
}else{
@if(resourceT.name().equals("SLIDE")){

@for(resource <- resources){
@if(resource.file_url!=null){
<a href ="@routes.Assets.at("uploadSlides/"+{resource.file_url})">@resource.title </a>
}
}
}
}
}
}
</div>
Slides<input type="file" name="slide" placeholder="Slides">
</p>
<p>
<button type="submit">Update</button><a href="@routes.Lectures.index()">Cancel</button>
</p>
</form>
}

<script type="text/javascript">
$(document).ready(function() {
	
		$('.addVideo').on('click', function() {
			$('#videos').append('<p>Video<input type="file" name="video" placeholder="Video"></p>');
		 
		   });
	
	
		   // install flowplayer to an element with CSS class "player"
		   $(".player").flowplayer({ swf: "@routes.Assets.at('javascripts/flowplayer-5.4.0/flowplayer.swf')" });
		
		});
</script>
	