@(lecture: Lecture,videoResources:List[LectureResource],slideResources:List[LectureResource])

@import helper._

<h2>Edit lecture</h2>

<div class="lectureTitleEdit" id="@lecture.id">@lecture.title</div>
<div class="lectureContentEdit" id="@lecture.id">@lecture.content</div>

<p>

<fieldset>
 <legend>Videos</legend>
<div class='mask' style="width:100%;">
<div class='videos'>
@for(resource <- videoResources){ 

@if(resource.file_url!=null){

<div class="videoItem">
<span class="res">
<p class="resourceTitleEdit title" id="@resource.id">@resource.title</p>
@if(resource.file_url.contains("youtube.com")){
<iframe class="videoFrameSize"
src="@resource.file_url">
</iframe>
}else{
<div class="player videoFrameSize" data-engine="flash" style="display:block;">
   <video preload="none">
        <source type="video/mp4" src="@routes.Assets.at("uploadVideos/"+{resource.file_url})"/>
      
         </video>
</div>
}
</span>
<span class="res action" style="margin:10px;margin-top:30px;">

@helper.form(routes.Lectures.removeResource(resource.id,lecture.id)) {
<button class="btn btn-mini btn-primary" type="submit"><i class="icon-remove"></i></button>
}
</span>
</div>
}
}
</div>
</div>

</fieldset>

<form  method="post" action="@routes.Lectures.addVideo(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add video to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="videoUrl" placeholder="Video url"> or 
<input  type="file" id="1" name="videoFile" placeholder="Video path">
<button class="btn btn-primary" type="submit" data-loading-text="Loading...">Add</button>
</fieldset>
</form>



<fieldset>
 <legend>Slides</legend>
<div class='mask' >
<div class='slides'>
@for(resource <- slideResources){
@if(resource.file_url!=null){
<div class="slideItem">
<span class="res">
@if(resource.file_url.contains("http")){
<a class="title resourceTitleEdit" id="@resource.id" href ="@resource.file_url">
@resource.title
 </a>
}else{
<a class="title resourceTitleEdit" id="@resource.id" href ="@routes.Assets.at("uploadSlides/"+{resource.file_url})">
@resource.title
 </a>
} 
</span>
<span class="res action">

@helper.form(routes.Lectures.removeResource(resource.id,lecture.id)) {
<button class="btn btn-mini btn-primary" type="submit"><i class="icon-remove"></i></button>
}
</span>
</div>
}
}
</div>
</div>


</fieldset>

<form  method="post" action="@routes.Lectures.addSlide(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add slides to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="slideUrl" placeholder="Slide url"> or 
<input type="file" name="slideFile" placeholder="Slide path">
<button class="btn btn-primary" type="submit" data-loading-text="Loading...">Add</button>
</fieldset>
</form>

<script type="text/javascript">
$(document).ready(function() {
	
	      
		   // install flowplayer to an element with CSS class "player"
		   $(".player").flowplayer({ 
			   swf: ''+@routes.Assets.at("javascripts/flowplayer-5.4.0/flowplayer.swf")
		   });
		
		  
		   $('.lectureTitleEdit').editable(
				   function(value, settings) {
						 $('.alert-success').hide();
						var id=$(this).attr('id');
						var result=value;
						myJsRoutes.controllers.Lectures.updateTitle().ajax({
							data: {id:id,value:value},
						    success : function(data) {
							result=data;
							$('.alert-success').show();
						    }
						});
						return(result);
					}
		   );
		   $('.lectureContentEdit').editable(''+@routes.Lectures.updateContent(), { 
		         type      : 'textarea',
		         cancel    : 'Cancel',
		         submit    : 'OK',
		         tooltip   : 'Click to edit...'
		     });
		   
		   $('.resourceTitleEdit').editable(
				   function(value, settings) {
						 $('.alert-success').hide();
						var id=$(this).attr('id');
						var result=value;
						myJsRoutes.controllers.LectureResources.updateTitle().ajax({
							data: {id:id,value:value},
						    success : function(data) {
							result=data;
							$('.alert-success').show();
						    }
						});
						return(result);
					}
		   );
		   
		   
		});
</script>
	