@(user:User,course:Course,lectures: List[Lecture],lecture: Lecture,videoResources:List[LectureResource],slideResources:List[LectureResource])

@import helper._

@severityColor(url: String) = @{
   if(url.contains("youtube")){
   if(url.contains("watch?v="))
    url.substring(url.indexOf("watch?v=")+8);
    else{
     if(url.contains("embed/"))
		   url.substring(url.indexOf("embed/")+6);
    }
    }
}

@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li class="active"><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Assignments.assignmentPage(course.id)">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lec<-lectures){
   @if(lec.id==lecture.id){
    <li class="active">
  <a id="lecture@lec.id" href="@routes.Lectures.getLecture(lec.id)">@lec.title</a>
  </li>
   }else{
  <li>
  <a id="lecture@lec.id" href="@routes.Lectures.getLecture(lec.id)">@lec.title</a>
  </li>
  }
  }
  <li>
  @form(routes.Lectures.index()){
  <button type="submit" class="new"><i class="icon-plus"></i></button>
  }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
@if(lecture!=null){

<div class="actionDelete" style="display:block;float:left;width:100%">
<h3 style="display:block;float:left;">Edit lecture</h3>
<a style="display:block;float:right;" href="#" class="lectureDelete"><i class="icon-remove"></i></a>
</div>
@form(action=routes.Lectures.deleteLecture(lecture.id),'id -> "removeForm"){
  <button type="submit" id="lectureRemoveLink">Delete</button>
  }
<div style="width:100%;margin-top: 60px;">
<fieldset>
<legend>Title</legend>
<div id="lectureTitle" class="alert alert-success">
successfully saved
</div>
<input type="hidden" id="flowPlayer" value="@routes.Assets.at("javascripts/flowplayer-5.4.0/flowplayer.swf")">
<input type="hidden" id="lectureId" value="@lecture.id">

<div id="dialog-form" title="">
  <form>
 <h4>Are you sure to remove this lecture?</h4>
 <input type="hidden" name="id" value="@lecture.id"/>
  </form>
</div>

<div class="title" style="width:80%;">
<span class="res lectureTitleEdit" id="lectureTitle@lecture.id">@lecture.title</span>
</div>
<br/>
</fieldset>
<fieldset class="nicField">
<legend>Description</legend>
<div id="lecturecontentAlert" class="alert alert-success">
successfully saved
</div>

<div class="nicPanels" id="lecturecontentNicPanel" style="width: 525px;"></div>
<br/>
<div id="lecturecontent" class="nicTextContainer">
@if(lecture.content!=null){
@Html(lecture.content)
}
</div>
</fieldset>
<fieldset >
 <legend>Videos</legend>


@for(resource <- videoResources){ 
@if(resource.file_url!=null){
<div class="videoDialog" id="videoDialog@resource.id" title="">
@videoItem(resource)
</div>
<div class="videoListItem row">
<div class="res" style="background-size: cover;background-position: center;width:100px;height:56px;background-image:url(https://img.youtube.com/vi/@severityColor(resource.file_url)/hqdefault.jpg)"></div>
<a class="videoClick res" href="#" id="resourceTitle@resource.id">@resource.title</a><img class="alert-success" id="resourceTitleSuccess@resource.id" src="@routes.Assets.at("images/success.jpg")" />
</div>
}
}

</fieldset>

<form  method="post" id="addVideoForm" action="@routes.Lectures.addVideo(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add video to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="videoUrl" placeholder="Video url"> or 
<input  type="file"  name="videoFile" placeholder="Video path">
<button class="btn btn-primary" type="submit" data-loading-text="Loading...">Add</button>
<img id="addVideoSuccess" src="@routes.Assets.at("images/success.jpg")" />

</fieldset>
</form>
<div class="progress">
    <div id="bar" class="bar"></div >
    <div class="percent">0%</div >
</div>
<fieldset>
 <legend>Slides</legend>
<div class='mask' >
<div class='slides'>
@for(resource <- slideResources){
@if(resource.file_url!=null){
<div class="slideItem">
<span class="res">
@if(resource.file_url.contains("http")){
<a class="title resourceTitleEdit"  id="resourceTitle@resource.id" href ="@resource.file_url">
@resource.title
 </a>
 
}else{
<a class="title resourceTitleEdit" id="resourceTitle@resource.id" href ="@routes.Assets.at("uploadSlides/"+{resource.file_url})">
@resource.title
 </a>
} 
<img class="alert-success" id="resourceTitleSuccess@resource.id" src="@routes.Assets.at("images/success.jpg")" />
</span>
<span class="action">
<a href="@routes.Lectures.removeResource(resource.id,lecture.id)" type="submit"><i class="icon-remove"></i></a>
</span>
</div>
}
}
</div>
</div>
</fieldset>

<form  method="post" id="addSlideForm" action="@routes.Lectures.addSlide(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add slides to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="slideUrl" placeholder="Slide url"> or 
<input type="file" name="slideFile" placeholder="Slide path">
<button class="btn btn-primary" type="submit" data-loading-text="Loading...">Add</button>
<img id="addSlideSuccess" src="@routes.Assets.at("images/success.jpg")" />

</fieldset>
</form>
<div class="progress">
    <div id="bar2" class="bar"></div >
    <div class="percent2">0%</div >
</div>

<br/>

<script type="text/javascript">
bkLib.onDomLoaded(function() {
		   $('.alert-success').hide();
		   
		   var lectureId=''+@lecture.id;
	    	 var lecturecontentNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
	    		 $('#lecturecontentAlert').hide();
	       	  myJsRoutes.controllers.Lectures.updateContent().ajax({
	       		data: {id:lectureId,value:content},
	     		    success : function(data) {
	     		    $('#lecturecontent').html('');
	     			$('#lecturecontent').html(data);
	     			$('#lecturecontentAlert').show();
	     		    }
	     		});
	         } });
	         lecturecontentNicEditor.setPanel('lecturecontentNicPanel');
	         lecturecontentNicEditor.addInstance('lecturecontent');
	    
	         $('#lecturecontent').click(function() {
				  $('#lecturecontentNicPanel').show();
				});
	         
	         var lecturekeyConceptsNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
	    		 $('#lecturekeyConceptsAlert').hide();
	       	  myJsRoutes.controllers.Lectures.updateKeyConcepts(''+@lecture.id).ajax({
	       		data:  {id:lectureId,value:content},
	     		    success : function(data) {
	     		    $('#lecturekeyConcepts').html('');
	     			$('#lecturekeyConcepts').html(data);
	     			$('#lecturekeyConceptsAlert').show();
	     		    }
	     		});
	         } });
	         lecturekeyConceptsNicEditor.setPanel('lecturekeyConceptsNicPanel');
	         lecturekeyConceptsNicEditor.addInstance('lecturekeyConcepts');
	    
	         
	         $('#lecturekeyConcepts').click(function() {
				  $('#lecturekeyConceptsNicPanel').show();
				});
			 
	         
	         var lecturereadingNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
	    		 $('#lecturereadingAlert').hide();
	       	  myJsRoutes.controllers.Lectures.updateReading(''+@lecture.id).ajax({
	       		data:  {id:lectureId,value:content},
	     		    success : function(data) {
	     		    $('#lecturereading').html('');
	     			$('#lecturereading').html(data);
	     			$('#lecturereadingAlert').show();
	     		    }
	     		});
	         } });
	         lecturereadingNicEditor.setPanel('lecturereadingNicPanel');
	         lecturereadingNicEditor.addInstance('lecturereading');
	    
	         
	         $('#lecturereading').click(function() {
				  $('#lecturereadingNicPanel').show();
				});
	         
	         var lectureassignmentNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
	    		 $('#lectureassignmentAlert').hide();
	       	  myJsRoutes.controllers.Lectures.updateAssignment(''+@lecture.id).ajax({
	       		data:  {id:lectureId,value:content},
	     		    success : function(data) {
	     		    $('#lectureassignment').html('');
	     			$('#lectureassignment').html(data);
	     			$('#lectureassignmentAlert').show();
	     		    }
	     		});
	         } });
	         lectureassignmentNicEditor.setPanel('lectureassignmentNicPanel');
	         lectureassignmentNicEditor.addInstance('lectureassignment');
	    
	         $('#lectureassignment').click(function() {
				  $('#lectureassignmentNicPanel').show();
				});
	         
	         var lectureadditionalResourcesNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
	    		 $('#lectureadditionalResourcesAlert').hide();
	       	  myJsRoutes.controllers.Lectures.updateAdditionalResources(''+@lecture.id).ajax({
	       		data:  {id:lectureId,value:content},
	     		    success : function(data) {
	     		    $('#lectureadditionalResources').html('');
	     			$('#lectureadditionalResources').html(data);
	     			$('#lectureadditionalResourcesAlert').show();
	     		    }
	     		});
	         } });
	         lectureadditionalResourcesNicEditor.setPanel('lectureadditionalResourcesNicPanel');
	         lectureadditionalResourcesNicEditor.addInstance('lectureadditionalResources');
	    		
	         $('#lectureadditionalResources').click(function() {
				  $('#lectureadditionalResourcesNicPanel').show();
				});
		});
</script>

<fieldset class="nicField">
<legend>Key concepts</legend>
<div id="lecturekeyConceptsAlert" class="alert alert-success">
successfully saved
</div>

<div class="nicPanels" id="lecturekeyConceptsNicPanel" style="width: 525px;"></div>
<br/>
<div id="lecturekeyConcepts" class="nicTextContainer">
@if(lecture.keyConcepts!=null){
@Html(lecture.keyConcepts)
}
</div>
</fieldset>
<br/>
<fieldset class="nicField">
<legend>Reading</legend>
<div id="lecturereadingAlert" class="alert alert-success">
successfully saved
</div>
<div class="nicPanels" id="lecturereadingNicPanel" style="width: 525px;"></div>
<br/>
<div id="lecturereading" class="nicTextContainer">
@if(lecture.reading!=null){
@Html(lecture.reading)
}
</div>
</fieldset>
<br/>
<div>
<fieldset class="res nicField" style="width: 45%;">
<legend>Assignment</legend>
<div id="lectureassignmentAlert" class="alert alert-success">
successfully saved
</div>
<div class="nicPanels" id="lectureassignmentNicPanel" style="width: 100%;"></div>
<br/>
<div id="lectureassignment" class="nicTextContainer" style="width: 100%;">
@if(lecture.assignment!=null){
@Html(lecture.assignment)
}
</div>
</fieldset>
<fieldset class="res nicField" style="width: 45%;">
<legend>Additional Resources</legend>
<div id="lectureadditionalResourcesAlert" class="alert alert-success">
successfully saved
</div>
<div class="nicPanels" id="lectureadditionalResourcesNicPanel" style="width: 100%;"></div>
<br/>
<div id="lectureadditionalResources" class="nicTextContainer" style="width: 100%;">
@if(lecture.additionalResources!=null){
@Html(lecture.additionalResources)
}
</div>
</fieldset>
</div>

</div>


<script type="text/javascript">
$(document).ready(function(){
	
	var bar = $('#bar');
	var percent = $('.percent');
	$('#addVideoSuccess').hide();

	$('#addVideoForm').ajaxForm({
	    beforeSend: function() {
	    	$('#addVideoSuccess').hide();
	        var percentVal = '0%';
	        bar.width(percentVal);
	        percent.html(percentVal);
	    },
	    uploadProgress: function(event, position, total, percentComplete) {
	        var percentVal = percentComplete + '%';
	        bar.width(percentVal);
	        percent.html(percentVal);
	    },
	    success : function(data) {
			$('#addVideoSuccess').show();
		    }
	}); 
	
	
	var bar2 = $('#bar2');
	var percent2 = $('.percent2');
	$('#addSlideSuccess').hide();
	$('#addSlideForm').ajaxForm({
		
	    beforeSend: function() {
	    	$('#addSlideSuccess').hide();
	        var percentVal2 = '0%';
	        bar2.width(percentVal2);
	        percent2.html(percentVal2);
	    },
	    uploadProgress: function(event, position, total, percentComplete) {
	        var percentVal2 = percentComplete + '%';
	        bar2.width(percentVal2);
	        percent2.html(percentVal2);
	    },
	    success : function(data) {
			$('#addSlideSuccess').show();
		    }
	}); 
	
	
	$('#removeForm').hide();
	
	$( "#dialog-form" ).dialog({
	      autoOpen: false,
	      height: 200,
	      width: 200,
	      modal: true,
	      buttons: {
	        "YES": function() {
	        	$('#lectureRemoveLink').click();
	         
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      },
	      close: function() {
	       
	      }
	    });
	 
	    $( ".lectureDelete" )
	      .button()
	      .click(function() {
	        $( "#dialog-form" ).dialog( "open" );
	      });

		 $('.nicPanels').hide(); 
		 
		 
	      var flowPlayer=$('#flowPlayer').val();
		   // install flowplayer to an element with CSS class "player"
		   $(".player").flowplayer({ 
			   swf: flowPlayer
		   });
		
		   $('.alert-success').hide();
		   $('.lectureTitleEdit').editable(
				   function(value, settings) {
						 $('#lectureTitle').hide();
						var lectureTitleid=$(this).attr('id');
						 var toRemove = 'lectureTitle';
						 var id = lectureTitleid.replace(toRemove,'');
						var result=value;
						myJsRoutes.controllers.Lectures.updateTitle().ajax({
							data: {id:id,value:value},
						    success : function(data) {
							result=data;
							$('#lecture'+id).html(data);
							$('#lectureTitle').show();
						    }
						});
						return(result);
					}
		   );
		   
		   
		   $('.resourceTitleEdit').editable(
				   function(value, settings) {
					  
							var resourceTitleid=$(this).attr('id');
							 var toRemove = 'resourceTitle';
							 var id = resourceTitleid.replace(toRemove,'');
						var result=value;
						myJsRoutes.controllers.Lectures.updateResourceTitle().ajax({
							data: {id:id,value:value},
						    success : function(data) {
							result=data;
							
							}
						});
						return(result);
					}
		   );
		   
		   $( ".videoDialog" ).dialog({
			      autoOpen: false,
			      height: 600,
			      width: 800,
			      modal: true
			      
			    });
		   
		   $( ".videoClick" ).click(function() {
		    	  var resourceTitleid=$(this).attr('id');
					 var toRemove = 'resourceTitle';
					 var id = resourceTitleid.replace(toRemove,'');
		        $( "#videoDialog"+id ).dialog( "open" );
		      });
		   
		  
		   
});


</script>
}
<p>
</div>
 </div>
  </div>
</div>

}