@(user:User,course:Course,assignments: List[Assignment],assignment: Assignment)

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
@tutor.aboutcourse(course)
@tutor.menu(course,"Assignments")
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Assignments</li>
  @for(ass<-assignments){
   @if(ass.id==assignment.id){
   <li class="active">
  <a id="assignment@ass.id" href="@routes.Assignments.getAssignment(ass.id)">@ass.title</a>
  </li>
   }else{
  <li>
  <a id="assignment@ass.id" href="@routes.Assignments.getAssignment(ass.id)">@ass.title</a>
  </li>
  }
  }
  <li  style="height: 50px;">
  @form(action=routes.Assignments.index(),'style->"padding:10px;"){
  <button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"><span class="hidden-accessible"> </span></i>New assignment</button>   
 }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
@if(assignment!=null){
<div class="actionDelete" style="width:100%">
<h3 style="float:left;">Edit assignment</h3>
<a style="float:right;" href="#" class="assignmentDelete"><i class="icon-remove"></i></a>
</div>

@form(action=routes.Assignments.deleteAssignment(assignment.id),'id -> "removeForm"){
  <button type="submit" id="assignmentRemoveLink">Delete</button>
  }

<div style="width:100%;margin-top: 60px;">
<fieldset>
<legend>Title</legend>
<div id="assignmentTitle" class="alert alert-success">
successfully saved
</div>

<div id="dialog-form" title="">
  <form>
 <h4>Are you sure to remove this assignment?</h4>
 <input type="hidden" name="id" value="@assignment.id"/>
  </form>
</div>

<div class="title" style="width:80%;">
<span class="res assignmentTitleEdit" id="assignmentTitle@assignment.id">@assignment.title</span>
</div>
<br/>
</fieldset>
<fieldset class="nicField">
<legend>Description</legend>
<div id="assignmentdescriptionAlert" class="alert alert-success">
successfully saved
</div>

<div class="nicPanels" id="assignmentdescriptionNicPanel" style="width: 525px;"></div>
<br/>
<div id="assignmentdescription" class="nicTextContainer">
@if(assignment.description!=null){
@Html(assignment.description)
}
</div>

</fieldset>

<script type="text/javascript">
bkLib.onDomLoaded(function() {
		   $('.alert-success').hide();
		   
		   var assignmentId=''+@assignment.id;
		   
	    	 var assignmentdescriptionNicEditor = new nicEditor({
	    		fullPanel : true,
	    		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")',	
	    		onSave : function(description, id, instance) {
	         $('#assignmentdescriptionAlert').hide();
	       	 myJsRoutes.controllers.Assignments.updateDescription().ajax({
	       	 data: {id:assignmentId,value:description},
	     		    success : function(data) {
	     		    $('#assignmentdescription').html('');
	     			$('#assignmentdescription').html(data);
	     			$('#assignmentdescriptionAlert').show();
	     		    }
	     		});
	         }});
	         assignmentdescriptionNicEditor.setPanel('assignmentdescriptionNicPanel');
	         assignmentdescriptionNicEditor.addInstance('assignmentdescription');
	    
	         $('#assignmentdescription').click(function() {
				  $('#assignmentdescriptionNicPanel').show();
				});
	         
	         var assignmentactionItemsNicEditor = new nicEditor({
	        	fullPanel : true,
	     		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")',	
	     		onSave : function(description, id, instance) {
	         $('#assignmentactionItemsAlert').hide();
	       	 myJsRoutes.controllers.Assignments.updateActionItems().ajax({
	       	 data:  {id:assignmentId,value:description},
	     		    success : function(data) {
	     		    $('#assignmentactionItems').html('');
	     			$('#assignmentactionItems').html(data);
	     			$('#assignmentactionItemsAlert').show();
	     		    }
	     		});
	         } });
	         assignmentactionItemsNicEditor.setPanel('assignmentactionItemsNicPanel');
	         assignmentactionItemsNicEditor.addInstance('assignmentactionItems');
	    
	         
	         $('#assignmentactionItems').click(function() {
				  $('#assignmentactionItemsNicPanel').show();
				});
			 
	  
		});
</script>

<fieldset class="nicField">
<legend>Action Items</legend>
<div id="assignmentactionItemsAlert" class="alert alert-success">
successfully saved
</div>

<div class="nicPanels" id="assignmentactionItemsNicPanel" style="width: 525px;"></div>
<br/>
<div id="assignmentactionItems" class="nicTextContainer">
@if(assignment.actionItems!=null){
@Html(assignment.actionItems)
}
</div>
</fieldset>

<p>
StartDate-
<form id="startDateUpdateForm">
<input type="hidden" name="id" value="@assignment.id">
<input id="startDate" type="text" class="datepicker" name="startDate" value="@assignment.startDate.format("dd/MM/yyyy")">
<button style="margin-top:-10px;" id="startDateButton" type="button" class="btn btn-primary">Change</button>
<img id="startDateUpdateSuccess" src="@routes.Assets.at("images/success.jpg")" />

</form>
</p>
<p>
Deadline-
<form id="deadlineUpdateForm">
<input type="hidden" name="id" value="@assignment.id">
<input type="text" id="deadline" class="datepicker" name="deadline" value="@assignment.deadline.format("dd/MM/yyyy")">
<button style="margin-top:-10px;" id="deadlineButton" type="button" class="btn btn-primary">Change</button>
<img id="deadlineUpdateSuccess" src="@routes.Assets.at("images/success.jpg")" />
</form>
@if(assignment.submissionFormCreated==true){
@form(routes.SubmissionForms.updateSubmissionForm()){
<input type="hidden" name="id" value="@assignment.id">
<button type="submit" class="btn btn-primary">Update submission form</button>
}
}else{
<button id="createSubmissionButton" class="btn btn-primary">Create new submission form</button>
}
<div id="createSubmissionForm" title="">
  @form(routes.SubmissionForms.newSubmissionForm()){
  <h4>Set weight for this assignment</h4>
<input type="hidden" name="id" value="@assignment.id">
<input type="number" name="weight" />
<button id="hiddenSubmitButton" type="submit" class="btn btn-primary">Create</button>
}
</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$('#deadlineUpdateSuccess').hide();
	$('#startDateUpdateSuccess').hide();
	$('#removeForm').hide();
	$('#hiddenSubmitButton').hide();
	
	$( "#createSubmissionButton" ).click(function() {
      $( "#createSubmissionForm" ).dialog( "open" );
    });
	
	$( "#createSubmissionForm" ).dialog({
	      autoOpen: false,
	      height: 400,
	      width: 400,
	      modal: true,
	      buttons: {
	        "Create": function() {
	        	$('#hiddenSubmitButton').click();
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      },
	      close: function() {
	       
	      }
	    });
	
	$( "#dialog-form" ).dialog({
	      autoOpen: false,
	      height: 200,
	      width: 200,
	      modal: true,
	      buttons: {
	        "YES": function() {
	        	$('#assignmentRemoveLink').click();
	         
	        },
	        Cancel: function() {
	          $( this ).dialog( "close" );
	        }
	      },
	      close: function() {
	       
	      }
	    });
	
	$( ".assignmentDelete" )
    .button()
    .click(function() {
      $( "#dialog-form" ).dialog( "open" );
    });
	
	 $( "#startDate" ).datepicker({ 
		 dateFormat: 'dd/mm/yy',
		 changeMonth: true,
	      changeYear: true,
		 onClose: function( selectedDate ) {
			        $( "#deadline" ).datepicker( "option", "minDate", selectedDate );
			        $('#startDateUpdateSuccess').hide();
			      }
	 });
	 
	 $( "#deadline" ).datepicker({
		 dateFormat: 'dd/mm/yy',
	      changeMonth: true,
	      changeYear: true,
	      onClose: function( selectedDate ) {
	        $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
	        $('#deadlineUpdateSuccess').hide();
	      }
	    });
	
	$('#startDateButton').click(function(){
		$('#startDateUpdateSuccess').hide();
		myJsRoutes.controllers.Assignments.updateStartDate().ajax({
			data: $('#startDateUpdateForm').serialize(),
		    success : function(data) {
			$('#startDate').val(data);
			$('#startDateUpdateSuccess').show();
		    }
		});
	});
	
	$('#deadlineButton').click(function(){
		$('#deadlineUpdateSuccess').hide();
		
		myJsRoutes.controllers.Assignments.updateDeadline().ajax({
			data: $('#deadlineUpdateForm').serialize(),
		    success : function(data) {
			$('#deadline').val(data);
			$('#deadlineUpdateSuccess').show();
		    }
		});
	});

		 $('.nicPanels').hide(); 		
		   $('.alert-success').hide();
		   
		   $('.assignmentTitleEdit').editable(
				   function(value, settings) {
						 $('#assignmentTitle').hide();
						var assignmentTitleid=$(this).attr('id');
						 var toRemove = 'assignmentTitle';
						 var id = assignmentTitleid.replace(toRemove,'');
						var result=value;
						myJsRoutes.controllers.Assignments.updateTitle().ajax({
							data: {id:id,value:value},
						    success : function(data) {
							result=data;
							$('#assignment'+id).html(data);
							$('#assignmentTitle').show();
						    }
						});
						return(result);
					}
		   );	
		   		   
});


</script>
}
<p>
		
		</div>
    </div>
  </div>
</div>

}
