@(user:User,course:Course,assignments: List[Assignment],assignment: Assignment,ss:StudentSubmission,submissionType: String)

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
@tutor.aboutcourse(course)
@student.menu(course,"Assignments")

</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Assignments</li>
  @for(ass<-assignments){
  @if(ass.id==assignment.id){
  <li class="active"><a id="@ass.id" href="@routes.Assignments.getAssignment(ass.id)">@ass.title</a></li>
  }else{
  <li><a id="@ass.id" href="@routes.Assignments.getAssignment(ass.id)">@ass.title</a></li>
  
  }
  }
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
<div class="announcements">
<h3>@assignment.title</h3>
@if(assignment.description!=null && assignment.description.length()>0 && org.jsoup.Jsoup.parse(assignment.description).text().length()>0){
<fieldset>
<legend>Description</legend>
@Html(assignment.description)
</fieldset>
}
@if(assignment.actionItems!=null && assignment.actionItems.length()>0 && !assignment.actionItems.contains("<img") && org.jsoup.Jsoup.parse(assignment.actionItems).text().length()>0){
<br/>
<fieldset>
<legend>Action Items</legend>
@Html(assignment.actionItems)
</fieldset>
}
<fieldset>
<legend>Submissions</legend>
@if(submissionType.equals("SUBMITTED")){
You already submit this assignment!Please wait,until tutor marks it! 
}else{
@if(submissionType.equals("CHECKED")){
<a class="btn" href="@routes.StudentSubmissions.getSubmission(ss.id,submissionType)">Show results</a>
}else{
@if(new java.util.Date().after(assignment.startDate) && new java.util.Date().before(assignment.deadline)){
@form(routes.SubmissionForms.newStudentSubmission(assignment.id)){
<input type="hidden" name="id" value="@assignment.id">
<button type="submit" class="btn btn-primary">Submit this assignment</button>
}
}else{
Deadline is expired!You can't submit this assignment
}
}
}
</fieldset>
</div>
</div>
    </div>
  </div>
</div>
}

<script type="text/javascript">
$(document).ready(function() {
	
	    
		   
		});
</script>