@(user:User,course:Course,lectures: List[Lecture])

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li class="active"><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Assignments.assignmentPage(course.id)">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lecture<-lectures){
  <li>
  <a id="lecture@lecture.id" href="@routes.Lectures.getLecture(lecture.id)">@lecture.title</a>
  </li>
  }
  <li>
  @form(routes.Lectures.index()){
  <button type="submit" style="width: 40%;"><i class="icon-plus"></i></button>
  }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
      <div class="announcements">
		<h2>Add  new lecture</h2>
@form(routes.Lectures.newLecture()){
<input type="text" name="title" placeholder="Name">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       Description
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
      <div class="nicPanels" id="contentNicPanel" style="width: 525px;"></div>
<textarea id="content" rows="10" class="nicTextContainer" name="content" placeholder="Description"></textarea>
</div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
       Key concepts
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="keyConceptsNicPanel" style="width: 525px;"></div>
<textarea id="keyConcepts" rows="10" class="nicTextContainer" name="keyConcepts" placeholder="Key concepts"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Reading
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="readingNicPanel" style="width: 525px;"></div>
<textarea id="reading" rows="10" class="nicTextContainer" name="reading" placeholder="Reading"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
       Assignment
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="assignmentNicPanel" style="width: 525px;"></div>
<textarea id="assignment" rows="10" class="nicTextContainer" name="assignment" placeholder="Assignment"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Additional Resources
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="additionalResourcesNicPanel" style="width: 525px;"></div>
<textarea id="additionalResources" rows="10" class="nicTextContainer" name="additionalResources" placeholder="Additional Resources"></textarea>
 </div>
    </div>
  </div>
</div>
<p>
<button type="submit">Create</button>
</p>
}
</div>
</div>
    </div>
  </div>
</div>


}

<script type="text/javascript">
$(document).ready(function(){
	
	var contentTextAreaNicEditor = new nicEditor({fullPanel : true});
	contentTextAreaNicEditor.setPanel('contentNicPanel');
	contentTextAreaNicEditor.addInstance('content');
	
	var keyConceptsTextAreaNicEditor = new nicEditor({fullPanel : true});
	keyConceptsTextAreaNicEditor.setPanel('keyConceptsNicPanel');
	keyConceptsTextAreaNicEditor.addInstance('keyConcepts');
	
	var readingTextAreaNicEditor = new nicEditor({fullPanel : true});
	readingTextAreaNicEditor.setPanel('readingNicPanel');
	readingTextAreaNicEditor.addInstance('reading');
	
	var assignmentTextAreaNicEditor = new nicEditor({fullPanel : true});
	assignmentTextAreaNicEditor.setPanel('assignmentNicPanel');
	assignmentTextAreaNicEditor.addInstance('assignment');
	
	var additionalResourcesTextAreaNicEditor = new nicEditor({fullPanel : true});
	additionalResourcesTextAreaNicEditor.setPanel('additionalResourcesNicPanel');
	additionalResourcesTextAreaNicEditor.addInstance('additionalResources');
	
	$('.lectures').click(function(e) {
		var lectureid=$(this).attr('id');
		 var toRemove = 'lecture';
		 var id = lectureid.replace(toRemove,'');
		myJsRoutes.controllers.Lectures.getLecture(id).ajax({
		    success : function(data) {
			$('.contentBar').html(data);
		
		    }
		});
		return false;
	});
});
</script>
