@(form:Form[Application.Login])

@main(null){
 <div class="row">
  <div class="span4"></div>
  <div class="span4">
  
		<div class="announcements">
  
 <ul class="nav nav-tabs">
  <li class="active">
  <a href="@routes.Application.login">Sign in</a>
  </li>
  <li> <a href="@routes.Application.register">Sign up</a></li>
</ul>

  
 
 @helper.form(routes.Application.authenticate) {
       
<h1>Sign in</h1>
  @if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
            }
<p>
<input type="email" name="email" placeholder="Email" value="@form("email").value" />
</p>
<p>
<input type="password" name="password" placeholder="Password"/>
</p>
<p>
<button class="btn action-btn btn-success" type="submit" >Login</button>
<a href="@routes.Application.register">Sign up</a>
</p>
}
</div>
</div>
</div>
}