@(courses: List[Course],user:User)
@import helper._


@main(user){

 	
 	
 	 @courses.map { task =>
 	 <div class="container-fluid courseCell">
       <div class="row-fluid">
    <div class="span2">
      
    </div>
    <div class="span4">
  							<h3><a href="@routes.Courses.courseDescription(task.id)"" >@task.name</a></h3>
  							<span class="instructorName textGray">@task.owner.name</span>
  		</div>				
  							<div class="span4">
  							<p>
  							
  							</p>
  							</div>
  							</div>
                           
                           </div>
                        }
                        
 }