.main{
	width: 90%;
	background-color: #FBFBFB;
	padding:20px;
	border: 1px solid #E3E3E3;
	margin: 10px;
	margin-left: 40px;
}
.description{
	display: inline-block;
	padding:20px;
	overflow:scroll;
	max-height: 100px;
	max-width: 90%;
}

.mask{
	border:10px solid #ddd;
	width:100%;
	overflow:hidden
	}
 .videos{
 width:100%;
 background-color:#333;
 margin-top:-10px;
 overflow:hidden;
 float:left
 }
 .slides{
 width:100%;
 background-color:#333;
 margin-top:-10px;
 overflow:hidden;
 float:left
 }
 
 .title{
 margin:10px;
 height: 20px;
 font-size: 16px;
 font-family: monospace;
 color: activeborder;
 }
 
 .res{
 float: left;
 margin:
 }
 .action{
 width:40px;
 height:40px;
 }
 .videoItem{
 float:left;
 margin:10px;
 margin-left:30px;
 width:500px;
 height:390px;
 background-color:#4a6b82;
 }
 .slideItem{

 float:left;
 margin:30px;
 width:200px;
 }

.descriptionTextArea{
	width: 90%;
}
.content{
	width: 90%;
	min-height:800px;
}
.header{
	width: 90%;
	z-index: 1;
}
.courseCell{
	margin:20px;
	width: 60%;
	border: solid 1px;
	border-radius: 10px;
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
	text-align: center;
	height: 100px;
}
.courceCellButton{
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo{
	float: left;
	padding-bottom:10px;
	padding-left: 30px;
	padding-top: 20px;
	
}
.user{
	float: right;
	padding-bottom:10px;
	padding-top: 20px;
}
.menuBar{
	background-color: #F4F4F4;
	border-top: 1px solid white;
outline: 1px solid #DDDDDD;
}
.sidebar{
	background-color: #F5F5F5
}

.contentBar{
	background-color: #F5F5F5
}

.studentCourses{
	width: 80%;
	
}

.studentCourseCell{
	width: 100%;
}

.left{
	float: left;
}
.space{
	margin-left: 30px;
}
footer{
	background-color:#F5F5F5;
	position: relative;
	
}