 @(user:User)
@import helper._

@main(user){
<div class="container-fluid">
  <div class="row-fluid">
<div class="span12">

<div class="contentBar">
<div class="announcements">
 <div class="span3">
 <ul class="nav nav-list">
 <li><a href="@routes.Users.editPassword()">Registration Details</a></li>
 <li class="active"><a href="@routes.Users.editProfile()">Profile Details</a></li>
 </ul>
 </div>
 <div class="span8">

 @form(routes.Users.editUser) {
 
 <table>
<tr>
<td>Name:</td>
<td>
<input type="text" name="name" placeholder="Name"  value="@user.name">
</td>
</tr>
<tr>
<td>Gender:</td>
<td>
<input type="hidden" id="genderID" value="@user.gender">
<select id="gender" name="gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
</td>
</tr>
<tr>
<td>Age:</td>
<td>
<input type="number" max="100" min="10" name="age" placeholder="Age"  value="@user.age">
</td>
</tr>
<tr>
<td>Address:</td>
<td>
<textarea cols="10" rows="4" name="address">@user.address</textarea>
</td>
</tr>
<tr>
<td>Company:</td>
<td>
<input type="text" name="company" placeholder="Company"  value="@user.company">
</td>
</tr>
<tr>
<td>Position:</td>
<td>
<input type="text" name="position" placeholder="Position"  value="@user.position">
</td>
</tr>
</table>
<button class="btn" type="submit">Save changes</button>

}
</div>
</div>
</div>
</div>
</div>
</div>
}

<script type="text/javascript">
$(document).ready(function(){
var genderID=$('#genderID').val();
$('#gender').val(genderID);
}
</script>