@(courses:List[Course],courseForm:Form[Course],user:User)



@import helper._
@main(user){
<table>
<th>Course name</th>
<th>Description</th>
<th></th>
@for(course<-courses){
<tr>
@form(routes.Courses.deleteCourse(course.id)){
<td><a href="@routes.Courses.coursePage(course.id)">@course.name</a></td>
<td>
<div class="description">
@if(course.description!=null){
@Html(course.description)
}
</div>
</td>
<td><button type="submit">Delete</button></td>
}
</tr>
}
</table>

<h2>Add a new course</h2>
@form(routes.Courses.newCourse()){
<p>
<input type="text" name="name" placeholder="Name">
</p>
<p>
<textarea rows="10" cols="30" name="description" placeholder="Description"></textarea>
</p>
<p>
<button type="submit">Create</button>
</p>
}

}