@(user:User,course:Course,announcements: List[Announcement],courseInformations: List[CourseInformation])


@import helper._
@main(user){
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     
    </div>
    <div class="span9">
@tutor.aboutcourse(course)
@tutor.menu(course,"Home")
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">  
  <li class="nav-header">Course information</li>
  @for(courseInformation<-courseInformations){
  <li><a class="courseInformations" id="courseInformation@courseInformation.id" href="#">@courseInformation.title</a></li>
  }
  <li>
  @form(routes.CourseInformations.addCourseInformation()){
	   <button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"><span class="hidden-accessible"> </span></i>New course information</button>
	   }
  </li>
</ul>
    </div>
    <div class="span9">
      <div class="contentBar">
       

<div class="announcements">
@if(announcements.size()>0){
<fieldset>
    <legend>Announcements</legend>
@for(annoncement<-announcements){
<script type="text/javascript">

     bkLib.onDomLoaded(function() {
    	  var myNicEditor = new nicEditor({
    		fullPanel : true,
    		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")',	
    		onSave : function(content, id, instance) {
    		  $('#alert-success'+@annoncement.id).hide();
    			
        	  myJsRoutes.controllers.Announcements.updateContent(''+@annoncement.id).ajax({
        		data: {value:content},
      		    success : function(data) {
      		    $('#annContent'+@annoncement.id).html('');
      			$('#annContent'+@annoncement.id).html(data);
      			$('#alert-success'+@annoncement.id).show();
      			
      		    }
      		});
          } });
          myNicEditor.setPanel('annNicPanel'+@annoncement.id);
          myNicEditor.addInstance('annContent'+@annoncement.id);
         
          $('#annContent'+@annoncement.id).click(function() {
    		  $('#annNicPanel'+@annoncement.id).show();
    		});
         
     });

     
    
  </script> 
  <div class="row" style="margin-left: 20px;" id="annItem@annoncement.id">
  <span style="float: left;">
<h4 style="float: left;"><span class="courseDescriptionTitle announcementTitle item" id="announcementTitle@annoncement.id">@annoncement.title</span></h4>
<span class="action" style="margin-left:5px;margin-top:10px;">
<a href="@routes.Announcements.deleteAnnouncement(annoncement.id)"><i class="icon-remove icon-removeRed"></i></a>
</span>
</span>

<p style="float: right;margin:5px;">
@{new org.ocpsoft.prettytime.PrettyTime(new java.util.Date()).setLocale(Locale.ENGLISH).format(annoncement.createdDate)}
</p>
<br/>
<br/>
<div id="alert-success@annoncement.id" class="alert alert-success">
successfully saved
</div>
<div class="nicPanels" id="annNicPanel@annoncement.id" style="width: 525px;"></div>

<div id="annContent@annoncement.id">

@if(annoncement.content!=null){
@Html(annoncement.content)
}
</div>

</div>
}
</fieldset>
}
<fieldset>
<legend>New announcement</legend>
<div class="createForm">
@form(routes.Announcements.newAnnouncement()){
<p>
<input type="text" name="title" placeholder="Name">
</p>
<p>
<div id="annAddTextAreaNicPanel" ></div>
<textarea id="annAddTextArea" rows="10"  name="content" placeholder="Description"></textarea>
</p>
<p>
<button class="btn btn-primary"  type="submit">Create</button>
</p>
}
</div>
</fieldset>
</div>
</div>
    </div>
  </div>
</div>


}
<script type="text/javascript">
$(document).ready(function(){
	$('.alert-success').hide();
	$('.nicPanels').hide();
	
	var annAddTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
	});
	  annAddTextAreaNicEditor.setPanel('annAddTextAreaNicPanel');
	  annAddTextAreaNicEditor.addInstance('annAddTextArea');
	
	$('.announcementTitle').editable(
			function(value, settings) {
				var announcementTitleid=$(this).attr('id');
				 var toRemove = 'announcementTitle';
				 var id = announcementTitleid.replace(toRemove,'');
				 $('#alert-success'+id).hide();
					
				var result=value;
				myJsRoutes.controllers.Announcements.updateTitle().ajax({
					data: {id:id,value:value},
				    success : function(data) {
					result=data;
					$('#alert-success'+id).show();
				    }
				});
				return(result);
			});
	
	$('.courseInformations').click(function(e) {
		$('.courseInformations').closest('li').removeClass('active');
		var courseInformationid=$(this).attr('id');
		 var toRemove = 'courseInformation';
		 var id = courseInformationid.replace(toRemove,'');
		
		myJsRoutes.controllers.CourseInformations.getCourseInformation(id).ajax({
		    success : function(data) {
			$('.contentBar').html(data);
			$('#'+courseInformationid).closest('li').addClass('active');
		    }
		});
		return false;
	});
});
</script>
