@(user:User,course:Course,announcements: List[Announcement],courseInformations: List[CourseInformation])


@import helper._
@main(user){
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li class="active">
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li><a href="@routes.Application.index">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">  
  <li class="nav-header">Course information</li>
  @for(courseInformation<-courseInformations){
  <li><a class="courseInformations" id="courseInformation@courseInformation.id" href="#">@courseInformation.title</a></li>
  }
  <li>
  @form(routes.CourseInformations.addCourseInformation()){
  <button type="submit" style="width: 40%;"><i class="icon-plus"></i></button>
  }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
       

<div id="announcements">
<fieldset>
    <legend>Announcements</legend>
@for(annoncement<-announcements){
<script type="text/javascript">

     bkLib.onDomLoaded(function() {
    	  var myNicEditor = new nicEditor({fullPanel : true, onSave : function(content, id, instance) {
    		  $('#alert-success'+@annoncement.id).hide();
    			
        	  myJsRoutes.controllers.Announcements.updateContent(''+@annoncement.id).ajax({
        		data: {value:content},
      		    success : function(data) {
      		    $('#annContent'+@annoncement.id).html('');
      			$('#annContent'+@annoncement.id).html(data);
      			$('#alert-success'+@annoncement.id).show();
      			
      		    }
      		});
          } });
          myNicEditor.setPanel('myNicPanel'+@annoncement.id);
          myNicEditor.addInstance('annContent'+@annoncement.id);
         
     });

  </script> 
  <div class="row" style="margin-left: 20px;">
<h4><span class="announcementTitle item" id="announcementTitle@annoncement.id">@annoncement.title</span></h4>
@helper.form(action=routes.Announcements.deleteAnnouncement(annoncement.id),'class->"res action") {
<button class="btn btn-mini btn-primary"  type="submit"><i class="icon-remove"></i></button>
}
<br/>
<br/>
<div id="alert-success@annoncement.id" class="alert alert-success">
successfully saved
</div>
<div id="myNicPanel@annoncement.id" style="width: 525px;"></div>

<div id="annContent@annoncement.id">

@if(annoncement.content!=null){
@Html(annoncement.content)
}
</div>
<p>@annoncement.createdDate</p>
</div>
}
<h4>Add a new announcement</h4>
@form(routes.Announcements.newAnnouncement()){
<p>
<input type="text" name="title" placeholder="Name">
</p>
<p>
<textarea class="ckeditor"  rows="10" cols="30" name="content" placeholder="Description"></textarea>
</p>
<p>
<button class="btn btn-primary"  type="submit">Create</button>
</p>
}
</div>
</div>
    </div>
  </div>
</div>


}
<script type="text/javascript">
$(document).ready(function(){
	$('.alert-success').hide();
	
	
	$('.announcementTitle').editable(
			function(value, settings) {
				var announcementTitleid=$(this).attr('id');
				 var toRemove = 'announcementTitle';
				 var id = announcementTitleid.replace(toRemove,'');
				 $('#alert-success'+id).hide();
					
				var result=value;
				myJsRoutes.controllers.Announcements.updateTitle().ajax({
					data: {id:id,value:value},
				    success : function(data) {
					result=data;
					$('#alert-success'+id).show();
				    }
				});
				return(result);
			});
	
	$('.courseInformations').click(function(e) {
		var courseInformationid=$(this).attr('id');
		 var toRemove = 'courseInformation';
		 var id = courseInformationid.replace(toRemove,'');
		
		myJsRoutes.controllers.CourseInformations.getCourseInformation(id).ajax({
		    success : function(data) {
			$('.contentBar').html(data);
		    }
		});
		return false;
	});
});
</script>
