@(announcement: Announcement,announcementForm:Form[Announcement])

@import helper._

<h2>Edit announcement</h2>
@form(routes.Announcements.updateAnnouncement(announcement.id)){
<p>
<input type="text" name="name" placeholder="Name" value="@announcement.title">
</p>
<p>
<textarea rows="10" cols="30" name="description" placeholder="Description" >@announcement.content</textarea>
</p>
<p>
<button type="submit">Update</button><a href="@routes.Announcements.index()">Cancel</button>
</p>
}