@(announcement: Announcement,announcementForm:Form[Announcement],user:User)
@import helper._
@main(user){
<h2>Edit announcement</h2>
@form(routes.Announcements.updateAnnouncement(announcement.id)){
<p>
<input type="text" name="title" placeholder="Name" value="@announcement.title">
</p>
<p>
<textarea class="ckeditor"  rows="10" cols="30" name="content" placeholder="Description" >@announcement.content</textarea>
</p>
<p>
<button type="submit">Update</button><a href="@routes.Announcements.index()">Cancel</button>
</p>
}
}