@(user:User,course:Course,lectures: List[Lecture])

@import helper._
@main(user){

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
@tutor.aboutcourse(course)
@tutor.menu(course,"Lectures")
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
     <ul class="nav nav-list sidebar">
  <li class="nav-header">Lectures</li>
  @for(lecture<-lectures){
  <li>
  <a id="lecture@lecture.id" href="@routes.Lectures.getLecture(lecture.id)">@lecture.title</a>
  </li>
  }
  <li style="height: 50px;">
  @form(action=routes.Lectures.index(),'style->"padding:10px;"){
  <button type="submit" class="new"><i class="icon-plus"></i></button>
  }
  </li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
      <div class="announcements">
		<h2>New lecture</h2>
@form(routes.Lectures.newLecture()){
<input type="text" name="title" placeholder="Name">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       Description
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
      <div class="nicPanels" id="contentNicPanel" style="width: 525px;"></div>
<textarea id="content" rows="10" class="nicTextContainer" name="content" placeholder="Description"></textarea>
</div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
       Key concepts
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="keyConceptsNicPanel" style="width: 525px;"></div>
<textarea id="keyConcepts" rows="10" class="nicTextContainer" name="keyConcepts" placeholder="Key concepts"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Reading
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="readingNicPanel" style="width: 525px;"></div>
<textarea id="reading" rows="10" class="nicTextContainer" name="reading" placeholder="Reading"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
       Assignment
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="assignmentNicPanel" style="width: 525px;"></div>
<textarea id="assignment" rows="10" class="nicTextContainer" name="assignment" placeholder="Assignment"></textarea>
 </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Additional Resources
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
      <div class="nicPanels" id="additionalResourcesNicPanel" style="width: 525px;"></div>
<textarea id="additionalResources" rows="10" class="nicTextContainer" name="additionalResources" placeholder="Additional Resources"></textarea>
 </div>
    </div>
  </div>
</div>
<p>
<button class="btn" type="submit">Create</button>
</p>
}
</div>
</div>
    </div>
  </div>
</div>


}

<script type="text/javascript">
$(document).ready(function(){
	
	var contentTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
	});
	contentTextAreaNicEditor.setPanel('contentNicPanel');
	contentTextAreaNicEditor.addInstance('content');
	
	var keyConceptsTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
		});
	keyConceptsTextAreaNicEditor.setPanel('keyConceptsNicPanel');
	keyConceptsTextAreaNicEditor.addInstance('keyConcepts');
	
	var readingTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
		});
	readingTextAreaNicEditor.setPanel('readingNicPanel');
	readingTextAreaNicEditor.addInstance('reading');
	
	var assignmentTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
		});
	assignmentTextAreaNicEditor.setPanel('assignmentNicPanel');
	assignmentTextAreaNicEditor.addInstance('assignment');
	
	var additionalResourcesTextAreaNicEditor = new nicEditor({
		fullPanel : true,
		iconsPath : '@routes.Assets.at("javascripts/nicEdit/nicEditorIcons.gif")'	
		});
	additionalResourcesTextAreaNicEditor.setPanel('additionalResourcesNicPanel');
	additionalResourcesTextAreaNicEditor.addInstance('additionalResources');
	
	$('.lectures').click(function(e) {
		var lectureid=$(this).attr('id');
		 var toRemove = 'lecture';
		 var id = lectureid.replace(toRemove,'');
		myJsRoutes.controllers.Lectures.getLecture(id).ajax({
		    success : function(data) {
			$('.contentBar').html(data);
		
		    }
		});
		return false;
	});
});
</script>
