@(lecture: Lecture,resources:List[LectureResource],user:User)

@import helper._

@main(user){
<h2>Edit lecture</h2>
<input type="hidden" id="flowPlayer" value="@routes.Assets.at("javascripts/flowplayer-5.4.0/flowplayer.swf")">


<form  method="post" action="@routes.Lectures.updateLecture(lecture.id)" enctype="multipart/form-data"> 
<p>
<input type="text" name="title" placeholder="Name" value="@lecture.title">
</p>
<p>
<textarea rows="10" cols="30" name="content" placeholder="Description" >@lecture.content</textarea>
</p>
<p>
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Update</button>
  <a class="btn" href="@routes.Lectures.index()">Cancel</a>
</div>
</p>
</form>

<form  method="post" action="@routes.Lectures.addVideo(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add video to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="videoUrl" placeholder="Video url"> or 
<input  type="file" id="1" name="videoFile" placeholder="Video path">
<button class="btn btn-mini btn-primary" type="submit">Add</button>
</fieldset>
</form>

<form  method="post" action="@routes.Lectures.addSlide(lecture.id)" enctype="multipart/form-data">
<fieldset>
    <legend>Add slides to lecture</legend>
<input  type="text"  name="title" placeholder="Title">
<input  type="text"  name="slideUrl" placeholder="Slide url"> or 
<input type="file" name="slideFile" placeholder="Slide path">
<button class="btn btn-mini btn-primary" type="submit">Add</button>
</fieldset>
</form>
<p>

@resources.groupBy(_.resourceType).map{
       			case (resourceT,resources) => {


@if(resourceT.name().equals("VIDEO")){
<fieldset>
 <legend>Videos</legend>
<div class='mask'>
<div class='videos'>
@for(resource <- resources){ 

@if(resource.file_url!=null){

<div class="videoItem">
<span class="res">
<p class="title">@resource.title</p>
@if(resource.file_url.contains("youtube.com")){
<iframe width="420" height="345"
src="@resource.file_url">
</iframe>
}else{
<div class="player" data-engine="flash" style="display:block;width:420px;height:345px;">
   <video preload="none">
        <source type="video/mp4" src="@routes.Assets.at("uploadVideos/"+{resource.file_url})"/>
      
         </video>
</div>
}
</span>
<span class="res action" style="margin:10px;margin-top:30px;">

@helper.form(routes.Lectures.removeResource(resource.id,lecture.id)) {
<button class="btn btn-mini btn-primary" type="submit"><i class="icon-remove"></i></button>
}
</span>
</div>
}
}
</div>
</div>
</fieldset>
}else{
@if(resourceT.name().equals("SLIDE")){
<fieldset>
 <legend>Slides</legend>
<div class='mask'>
<div class='slides'>
@for(resource <- resources){
@if(resource.file_url!=null){
<div class="slideItem">
<span class="res">
<a class="title" href ="@routes.Assets.at("uploadSlides/"+{resource.file_url})">@resource.title </a> 
</span>
<span class="res action">

@helper.form(routes.Lectures.removeResource(resource.id,lecture.id)) {
<button class="btn btn-mini btn-primary" type="submit"><i class="icon-remove"></i></button>
}
</span>
</div>
}
}
</div>
</div>
</fieldset>
}
}

}
}

}

<script type="text/javascript">
$(document).ready(function() {
	
	       var flowPlayer=$('#flowPlayer').val();
		   // install flowplayer to an element with CSS class "player"
		   $(".player").flowplayer({ swf: flowPlayer
		   });
		
		});
</script>
	