@(resource:LectureResource)
<fieldset>
<legend>Edit resource</legend>
<form method="post" id="editResourceForm" action="@routes.Lectures.editVideo(resource.id)" enctype="multipart/form-data">
<label for="title">Title</label><input  type="text"  name="title" placeholder="Title" value="@resource.title">
<label for="videoUrl">Video url</label><textarea name="videoUrl">@resource.file_url</textarea> or 
<label for="videoFile">Video path</label><input type="file" name="videoFile" placeholder="Video path">
<button class="btn btn-primary" type="submit" data-loading-text="Loading...">Edit</button>
</form>
</fieldset>