@(user:User,course:Course,submissionForm: SubmissionForm)

@import helper._
@main(user){

<style>
  #sortable{ list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
  #sortable li{ margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
</style>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span8">
<h3>@course.name</h3>
By @course.owner.name
@if(course.owner.company!=null){
,@course.owner.company
}
<div class="menuBar">
<ul class="nav nav-pills">
  <li >
    <a href="@routes.Courses.coursePage(course.id)">Home</a>
  </li>
  <li><a href="@routes.Lectures.lecturePage(course.id)">Lectures</a></li>
  <li class="active"><a href="@routes.Assignments.assignmentPage(course.id)">Assignments</a></li>
  <li><a href="@routes.Application.index">Community</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
<ul id="draggable" >
  <li><div class="ui-state-default"><select class="draggableElement"></select></div></li>
  <li><div  class="ui-state-default"><span class="draggableElement"><p class="editableText">Label</p><input type="text"></span></div></li>
  <li><div  class="ui-state-default"><input class="draggableElement" type="checkbox"></div></li>
  <li><div  class="ui-state-default"><label class="editableText">Label</label><button class="draggableElement">Button</button></div></li>
  <li><div  class="ui-state-default"><textarea class="draggableElement"></textarea></div></li>
  <li><div  class="ui-state-default"></div></li>
</ul>
    </div>
    <div class="span8">
      <div class="contentBar">
@if(submissionForm!=null){
<ul id="sortable" style="width: 100%;height: 100%">
  <li style="width: 500px;" class="draggableElementContainer ui-state-highlight"></li>
  <li style="width: 500px;" class="draggableElementContainer ui-state-highlight"></li>
  <li style="width: 500px;" class="draggableElementContainer ui-state-highlight"></li>
  <li style="width: 500px;" class="draggableElementContainer ui-state-highlight"></li>
  <li style="width: 500px;" class="draggableElementContainer ui-state-highlight"></li>
</ul>
 
<ul id="sortable3" class="droptrue">
</ul>
 
<br style="clear: both;" />
 
 
}		
		</div>
    </div>
  </div>
</div>

}
<script type="text/javascript">
$(function() {
   
	
	$( "#sortable li" ).droppable({
	      drop: function( event, ui ) {
	    	 $( this ).find( ".draggableElementContainer" ).remove();
	    	  ui.draggable.find('.ui-state-default').find('.draggableElement').removeClass('draggableElement').addClass('anotherSize');
	          $( "<li></li>" ).html( ui.draggable.find('.ui-state-default').html()).appendTo( this );
	          ui.draggable.find('.ui-state-default').find('.anotherSize').removeClass('anotherSize').addClass('draggableElement');
	          $( this).droppable( "option", "disabled", true ).removeClass('ui-state-disabled');
	          $('#sortable').sortable( "option", "disabled", true );
	      }
	    });
	
	$( "#sortable" ).sortable({
	        revert: true
	    });
	
	$( "#sortable li" ).resizable();
	
    $( "ul#draggable li" ).draggable({
    	appendTo: "body",
        helper: "clone",
        revert: "invalid"
      });
    
    $( "ul#draggable li" ).draggable({ cancel: "span" });
    
    
    
    $('.editableText').editable(
    		 function(value, settings) {
				return(value);
			}		
    );
    
  });
</script>