@(user:User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>SDU Online Courses</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/css/bootstrap.css")"> 
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/jquery.jeditable.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/nicEdit/nicEdit.js")"></script>
      	<script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
        <!-- 2. flowplayer -->
		<script src="@routes.Assets.at("javascripts/flowplayer-5.4.0/flowplayer.js")"></script>
		 
		<!-- 3. skin -->
		<link rel="stylesheet" type="text/css"   href="@routes.Assets.at("javascripts/flowplayer-5.4.0/skin/minimalist.css")" />
        <script type="text/javascript" src="@routes.Assets.at("stylesheets/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("stylesheets/js/bootstrap.min.js")"></script>
         @if(user!=null){
              <script type="text/javascript">
				$(document).ready(function() {
					$('.dropdown-toggle').dropdown();
					 });
				</script>
				}	   
				
				
		 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.css")" />
  <script src="@routes.Assets.at("javascripts/jquery-ui.js")" ></script>
 
             
    </head>
    <body style="background: url('@routes.Assets.at("images/bgd.jpg")');">
     <header>
    </header>
    <div class="main">
    <div class="container-fluid" >
  <div class="row-fluid">
  <div class="span1"></div>
    <div class="span10">
 	<div class="header" style="background: url('@routes.Assets.at("images/header_bg.png")');">
 	<div class="header-container">
 	<span class="logo">
    <a href="@routes.Application.index" id="logo" ><span><img src="@routes.Assets.at("images/sdu.png")" /></span></a>
    
    </span>
     <span class="user">
    @if(user!=null){
   
       <div class="dropdown">
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
    @user.name
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
     <li role="presentation"><a role="menuitem" href="@routes.Users.profile(user.email)">Profile</a></li>
     <li role="presentation"><a role="menuitem" href="@routes.Conversations.index()">Conversations</a></li>
      <li role="presentation"><a role="menuitem" href="@routes.Students.index()">My courses</a></li>
    
    <li role="presentation"><a role="menuitem" href="@routes.Application.logout()">Logout</a></li>
  </ul>
</div>

}else{
<a href="@routes.Application.login">Sign in</a>
}
</span>
</div>
</div>
</div>
</div>
 <div class="row-fluid contentDiv">
  <div class="span1"></div>
    <div class="span10">
<div class="content" style="background-color: #fbfbfb;">
      @content
</div>
</div>
</div>
</div>
<div class="row-fluid">
  <div class="span1"></div>
    <div class="span10">
     <div class="footer" style="background: url('@routes.Assets.at("images/header_bg.png")');">
     <div class="footer-container">
   <span class="footerText">
     SDU 2013
     </span>
     </div>
     </div>
     </div>
     </div>
</div>
    </body>
</html>

